.task {
  width: 100%;
 display: flex;
 justify-content:space-between;
 align-items: center;
 height: 50px;
 padding: 10px;

 /* margin: auto; */
 margin-top: 20px;
 
 
}
.task:hover{
  border-radius: 7px;
  border: 0.8px solid lightgray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.lorr{
 text-decoration: line-through;

}
.lora6{
  outline: none;
  border: none;
  margin-right: -1px;
  font-size: 19px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.task:hover .lora6{
  pointer-events:auto;
  opacity: 0.7;
  visibility:visible;
}
