
.taskApp{
  
  width: 400px;
  /* border: 2px solid black; */
  border-radius: 5px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 500px;
 
  flex-direction: column;
}
